# Node
node_modules/

# Environment
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# Backend uploads
backend/uploads/

# Frontend build
frontend/build/

# Ignore frontend git backup
frontend/.git_backup/

.DS_Store

